@use '../abstracts';

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: abstracts.$spacing-s;
  z-index: 9999;

  &--open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-inline: abstracts.$spacing-base;
  }

  .close-icon {
    display: none;
  }

  &--open .menu-icon {
    display: none;
  }

  &--open .close-icon {
    display: block;
  }

  &__logo {
    z-index: 9999;
  }

  &__btn {
    display: inline-block;
    border: 0;
    cursor: pointer;
    background: none;
    z-index: 9999;

    @include abstracts.breakpoint(tablet) {
      display: none;
    }
  }

  &__list {
    display: none;
    transform: translateX(100%);
    transition: transform 0.35ms ease-in-out;

    @include abstracts.breakpoint(tablet) {
      display: flex;
      gap: abstracts.$spacing-base;
      position: static;
      transform: none;
    }
  }

  &--open &__list {
    z-index: 9000;
    background-color: abstracts.$bg-secondary;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: abstracts.$spacing-s abstracts.$spacing-base;
    transform: translateX(0%);
  }

  &__list-item {
    padding-block: 1rem;
    width: 100%;
  }

  &__link {
    color: abstracts.$clr-secondary;
    text-transform: uppercase;
    font-weight: abstracts.$fw-primary;

    @include abstracts.breakpoint(tablet) {
      text-transform: capitalize;
    }
  }
}
