@use '../abstracts';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: abstracts.$bg-primary;
}

section {
  margin-bottom: abstracts.$spacing-l;
  scroll-margin: abstracts.$spacing-m;
}

img {
  max-width: 100%;
  // display: block;
}

ul {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.footer__social-link,
.footer__nav-link,
.nav__link {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.footer__social-link::after,
.footer__nav-link::after,
.nav__link::after {
  content: '';
  width: 1.5rem;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.footer__social-link:hover::after,
.footer__social-link:focus::after,
.footer__nav-link:hover::after,
.footer__nav-link:focus::after,
.nav__link:hover::after,
.nav__link:focus::after {
  opacity: 1;
}

.container {
  padding-inline: abstracts.$spacing-base;

  @media (min-width: abstracts.$breakpoint-tablet) {
    padding-inline: abstracts.$spacing-s;
  }

  @media (min-width: abstracts.$breakpoint-desktop) {
    padding-inline: 0;
    width: 90%;
    max-width: 70em;
    margin: 0 auto;
  }
}
